<config>
  <debug>false</debug>
  <game>
    <!-- time in sec -->
    <maxGameTime>180</maxGameTime>
    <!-- time after gamestart to spawn first obstacle -->
    <maxTimeToSpawn>6</maxTimeToSpawn>
    <!-- time in sec for levelchange -->
    <dockingDuration>5</dockingDuration>
    <!-- time in sec for fog duration -->
    <fogDuration>3</fogDuration>
    <!-- height in m -->
    <maxHeight>180</maxHeight>
    <!-- height in m for thermics to work (up below max, down above min) -->
	<maxThermicHeight>100</maxThermicHeight>
    <minThermicHeight>50</minThermicHeight>
    <!-- acceleration -->
    <forceOnThermicUp>1200.0</forceOnThermicUp>
    <forceOnThermicDown>-900.0</forceOnThermicDown>
    <!-- acceleration down when glider is too high -->
    <forceOnMaxHeight>-999</forceOnMaxHeight>
	<collisionMaxAngleForCrash>45</collisionMaxAngleForCrash>
	<minCrashThresholdMPS>1</minCrashThresholdMPS>
	<startSpeed>3000</startSpeed>
  </game>
  <controller>
	<maxEnginePower>10</maxEnginePower>
	<lift>-10</lift>
	<zeroLiftSpeed>5</zeroLiftSpeed>
	<rollEffect>2</rollEffect>
	<pitchEffect>2</pitchEffect>
	<yawEffect>2</yawEffect>
	<bankedTurnEffect>1.45</bankedTurnEffect>
	<autoTurnPitch>1.4</autoTurnPitch>
	<autoRollLevel>2.5</autoRollLevel>
	<autoPitchLevel>0.9</autoPitchLevel>
	<airBrakesEffect>3</airBrakesEffect>
	<throttleChangeSpeed>0.3</throttleChangeSpeed>
	<dragIncreaseFactor>0.001</dragIncreaseFactor>
	<originalDrag>0.2</originalDrag>
	<originalAngularDrag>0.12</originalAngularDrag>
	
	<rollValueFactor>1</rollValueFactor>
	<pitchValueFactor>0.9</pitchValueFactor>		
	<yawValueFactor>0.5</yawValueFactor>		
  </controller>
  <input>
	<ripcord_port>1</ripcord_port>
	<leftgrip_port>2</leftgrip_port>
	<rightgrip_port>0</rightgrip_port>
	<minRawValue_leftgrip>0.06</minRawValue_leftgrip>
	<maxRawValue_leftgrip>4.735</maxRawValue_leftgrip>
	<minRawValue_rightgrip>0</minRawValue_rightgrip>
	<maxRawValue_rightgrip>4.705</maxRawValue_rightgrip>
	<minRawVal_ripcord>0.015</minRawVal_ripcord>
	<maxRawVal_ripcord>4.7575</maxRawVal_ripcord>
	<threshold_move>0.1</threshold_move>
	<threshold_pull>0.3</threshold_pull>
	<inactivityTimeout>30</inactivityTimeout>
	<threshold_inactivity>-0.2</threshold_inactivity>
  </input>
</config>