<config>
	<debug>true</debug>
	<game>
		<timeout timeunit="sec">120</timeout>

	</game>
	<controller>
		<maxEnginePower>8</maxEnginePower>
		<lift>0.015</lift>
		<zeroLiftSpeed>70</zeroLiftSpeed>
		<rollEffect>0.5</rollEffect>
		<pitchEffect>1</pitchEffect>
		<yawEffect>-0.0033</yawEffect>
		<bankedTurnEffect>5.5</bankedTurnEffect>
		<autoTurnPitch>0.5</autoTurnPitch>
		<autoRollLevel>2</autoRollLevel>
		<autoPitchLevel>0.1</autoPitchLevel>
		<airBrakesEffect>3</airBrakesEffect>
		<throttleChangeSpeed>0.3</throttleChangeSpeed>
		<dragIncreaseFactor>0.001</dragIncreaseFactor>
		<maxRollAngle>80</maxRollAngle>
		<maxPitchAngle>80</maxPitchAngle>
		<maxSpeed>37</maxSpeed>
	</controller>
	<input>
		<ripcord	port="0"></ripcord>
		<leftgrip	port="1"></leftgrip>
		<rightgrip	port="2"></rightgrip>
		<minRawValue_leftgrip>0</minRawValue_leftgrip>
		<minRawValue_rightgrip>0</minRawValue_rightgrip>
		<minRawVal_ripcord>0</minRawVal_ripcord>
		<maxRawValue_leftgrip>100</maxRawValue_leftgrip>
		<maxRawValue_rightgrip>100</maxRawValue_rightgrip>
		<maxRawVal_ripcord>100</maxRawVal_ripcord>
		<threshold_move>0.1</threshold_move>
		<threshold_pull>0.5</threshold_pull>
	</input>
</config>